

.star-rating {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	font-size: 16px;
}

.stars i {
	margin-right: 2px;
}


.filled {
	color: gold;
}

.empty {
	color: lightgray;
}

.rating-count {
	color: #666;
}
